.head{
    padding:20px 0px; 
    color:#000;
}
.logo h1{
    font-size: 35px;
    font-weight:900;
}
.head .icon{
    margin-left: 10px;
}
.start {
    background-color: #1eb2a6;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  /* .toggle {
    display: none;
  } */
/* -----------header---------- */
header{
    background-color:rgba(15, 5, 5, 0.2);
    margin: 0 30px;
}
header li{
    margin-right: 40px;
    /* display: flex; */
}
header ul{
    padding: 30px 20px;
}
header ul li a{
    color:#fff;
    font-weight: 500;
    transition:0.5s;
}
header ul li a:hover{
    color:  #1eb2a6 ;
}
a{
    text-decoration:none;
}
li{
    list-style-type: none;
}
.toggle{
    display: none;
}
@media screen and (max-width:768px) {
    .start{
        clip-path: none;

    }
    header{
        margin: 0px;
        background-color: rgb(187, 166, 245);
        position:relative; 
    }  
    header ul.flexSB{
        display: none;
    }
    .toggle{
        display:block;
        background-color: none;
        color: #fff;
        font-size: 32px;
        position:absolute;
        right:30px;
        top:20px;
    }
    .mobile-nav {
        position: absolute;
        top: 7vh;
        left: 0;
        width: 100%;
        background-color: #1eb2a6;
      }
}
